<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/storage.css">
  <script src="/js/contextMenu.js" defer></script>
</head>

<body>
  <div class="storage-container">
    <a href="/">Home</a>
    <h1>
      <%= title %>
    </h1>

    <% if (typeof errors !=='undefined' ) { %>
    <div class="error">
      <% errors.forEach(error=> { %>
      <p>
        <%= error.msg %>
      </p>
      <% }); %>
    </div>
    <% } %>

    <form class="upload-form" action="<%= folderId ? `/storage/folder/${folderId}` : '/storage' %>" method="POST" enctype="multipart/form-data">
      <div>
        <label for="files">Select files:</label>
        <input type="file" id="files" name="files" multiple>
      </div>
      <button type="submit">Upload</button>
    </form>

    <form class="create-folder-form" action="<%= folderId ? `/storage/folder/${folderId}/create-folder` : '/storage/create-folder' %>" method="POST">
      <div>
        <label for="folder_name">Folder name:</label>
        <input type="text" id="folder_name" name="folder_name" placeholder="New folder" required>
      </div>
      <button type="submit">Create folder</button>
    </form>

    <div class="storage-content">
      <%- include('partials/listFoldersAndFiles', { files, folders }); %>
    </div>



  </div>


</body>

</html>